/* === Custom Fonts === */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Roboto-VariableFont.ttf') format('truetype');
}

/* === Global Styles === */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1a191e;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

/* === Smooth Scrolling === */
* {
  scroll-behavior: smooth;
}

/* === Scroll Animation === */
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
}